/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	margin: 12%;
	background-image: url('../images/placeorder.jpg') ;
	background-size: cover ;
	background-attachment: scroll;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    padding: 20px;
}

/* Header Styling */
h2 {
    font-size: 28px;
    color: #2c3e50;
    margin-bottom: 20px;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
    text-transform: uppercase;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #ff9900;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

table tr/* :nth-child(even) */ {
    background-color: #f9f9f9;
}

p {
    font-size: 18px;
    margin-top: 10px;
    color: #333;
}

/* Strong Text Styling */
p strong {
    font-size: 20px;
    color: #2c3e50;
}

/* Form Styling */
form {
    margin-top: 20px;
}

label {
    font-size: 16px;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #ff9900;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
